[Unit]
Description=Daily Aptly Sync
Documentation=https://github.com/your-org/repo-server

[Timer]
OnCalendar={{ deb_sync_schedule }}
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
